<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <form action="/update" method="POST">
    <% for (let i in book){ %>
      <%= i %> || <input type="text" value= <%=book[i]%> name= <%= i %>>
    <% } %>
  </form>
</body>
</html>
